<app-header-modal titulo="Gastos hormiga" ruta={{rutaSeguir}}></app-header-modal>

<ion-content>

    <ion-item color="primary"> 
        <ion-label><h1 class="texto_centrado_blanco ion-text-wrap">Gastos hormiga</h1></ion-label>
      </ion-item>

      <ion-item lines="none"> 
        <ion-label class="texto_centrado ion-text-wrap"><p>Selecciona los gastos hormiga con los que te identifiques para recibir consejos sobre como reducir el gasto en ellos</p></ion-label>
      </ion-item>

      <ion-list class="margen_izquierda_60">

        <ion-item>
          <ion-checkbox color="success" mode="ios" (ionChange)="checkBoxInicial($event, 0)"></ion-checkbox>
          <ion-label class="margen_izquierda_20 ion-text-wrap">Café</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="success" mode="ios" (ionChange)="checkBoxInicial($event, 1)"></ion-checkbox>
          <ion-label class="margen_izquierda_20 ion-text-wrap">Cigarrillos</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="success" mode="ios" (ionChange)="checkBoxInicial($event, 2)"></ion-checkbox>
          <ion-label class="margen_izquierda_20 ion-text-wrap">Agua embotellada</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="success" mode="ios" (ionChange)="checkBoxInicial($event, 3)"></ion-checkbox>
          <ion-label class="margen_izquierda_20 ion-text-wrap">Snacks (antojos casuales)</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="success" mode="ios" (ionChange)="checkBoxInicial($event, 4)"></ion-checkbox>
          <ion-label class="margen_izquierda_20 ion-text-wrap">Revistas/periodicos</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="success" mode="ios" (ionChange)="checkBoxInicial($event, 5)"></ion-checkbox>
          <ion-label class="margen_izquierda_20 ion-text-wrap">Juegos de azar (Casino, lotería nacional, etc.)</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="success" mode="ios" (ionChange)="checkBoxInicial($event, 6)"></ion-checkbox>
          <ion-label class="margen_izquierda_20 ion-text-wrap">Recarga de celular</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="success" mode="ios" (ionChange)="checkBoxInicial($event, 7)"></ion-checkbox>
          <ion-label class="margen_izquierda_20 ion-text-wrap">Taxi o uber</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="success" mode="ios" (ionChange)="checkBoxInicial($event, 8)"></ion-checkbox>
          <ion-label class="margen_izquierda_20 ion-text-wrap">Servicios de suscripción (spotify, netflix, etc.)</ion-label>
        </ion-item>        <ion-item>
          <ion-checkbox color="success" mode="ios" (ionChange)="checkBoxInicial($event, 9)"></ion-checkbox>
          <ion-label class="margen_izquierda_20 ion-text-wrap">Pagos de estacionamiento</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="success" mode="ios" (ionChange)="checkBoxInicial($event, 10)"></ion-checkbox>
          <ion-label class="margen_izquierda_20 ion-text-wrap">Refresco</ion-label>
        </ion-item>

        </ion-list>

        <ion-button 
        expand="block" 
        color="success" 
        (click)="mostrarConsejos()"
        [disabled]="seleccionados == 0">Listo</ion-button>
           

</ion-content>
