.margen_arriba{
    margin-top: 10px;
    text-align: center;
} 

.texto_lista{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 35px;
    text-align: start;
} 

.imagen_tests{
    width: 95%;
    height: auto;
} 

.imagen_tests2{
    width: 75%;
    height: auto;
} 

.logo{
    width: 85%;
    height: auto;
} 

.texto_seguro{
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
} 

.botonRegistrar{
    margin-top: 30px;
} 

