
<ion-item color="primary"> 
  <ion-label><h1 class="texto_centrado_blanco margen_arriba">Bienvenido a Finey</h1></ion-label>
</ion-item>

<ion-content color="light">

<ion-slides class="slide-full" pager="true">

  <ion-slide>

    <div>
      <img src="assets/logo.png" class="logo"/>
      

      <ion-item color="primary"> 
        <ion-label><h1 class="texto_centrado_blanco margen_arriba">El lugar donde podrás:</h1></ion-label>
      <br><br>
      </ion-item>
  
      <br>
      <h3 class="texto_lista ion-text-wrap">• Llevar un resumen de tus gastos</h3>
      <h3 class="texto_lista ion-text-wrap">• Crear metas de ahorro</h3>
      <h3 class="texto_lista ion-text-wrap">• Recibir consejos financieros</h3>
      <h3 class="texto_lista ion-text-wrap">• Crear recordatorios de pagos</h3>
      <h3 class="texto_lista ion-text-wrap">• Reducir gastos innecesarios</h3>

      <br><br><br>
    </div>

  </ion-slide>

  <ion-slide>

    <div>
      <img src="assets/resumen.png" class="logo"/>
      

      <ion-item color="primary"> 
        <ion-label><h1 class="texto_centrado_blanco margen_arriba">En "Resumen" podrás:</h1></ion-label>
      <br><br>
      </ion-item>
  
      <br>
      <h3 class="texto_lista ion-text-wrap">• Ver gráficas de tus gastos</h3>
      <h3 class="texto_lista ion-text-wrap">• Añadir ingresos extra</h3>
      <h3 class="texto_lista ion-text-wrap">• Visualizar el total de tus ingresos</h3>
      <h3 class="texto_lista ion-text-wrap">• Visualizar el total de tus gastos</h3>
      <h3 class="texto_lista ion-text-wrap">• Observar la cantidad de dinero ahorrado</h3>


      <br><br><br>
    </div>

  </ion-slide>

  <ion-slide>

    <div>
      <img src="assets/planes.png" class="logo"/>
      

      <ion-item color="primary"> 
        <ion-label><h1 class="texto_centrado_blanco margen_arriba">En "Mis Planes" podrás:</h1></ion-label>
      <br><br>
      </ion-item>
  
      <br>
      <h3 class="texto_lista ion-text-wrap">• Crear metas de ahorro</h3>
      <h3 class="texto_lista ion-text-wrap">• Visualizar el progreso de la meta</h3>
      <h3 class="texto_lista ion-text-wrap">• Transferir dinero entre metas de ahorro</h3>
      <h3 class="texto_lista ion-text-wrap">• Pausar y reaunudar metas de ahorro</h3>
      <h3 class="texto_lista ion-text-wrap">• Eliminar modificar metas de ahorro</h3>


      <br><br><br>
    </div>

  </ion-slide>

  <ion-slide>

    <div>
      <img src="assets/tests.png" class="imagen_tests"/>
      

      <ion-item color="primary"> 
        <ion-label><h1 class="texto_centrado_blanco margen_arriba">En "Analizar Gastos" podrás:</h1></ion-label>
      <br><br>
      </ion-item>
  
      <br>
      <h3 class="texto_lista ion-text-wrap">• Contestar tests según el rubro</h3>
      <h3 class="texto_lista ion-text-wrap">• Recibir consejos financieros</h3>
      <h3 class="texto_lista ion-text-wrap">• Eliminar gastos innecesarios</h3>

      <br>
    </div>

  </ion-slide>

  <ion-slide>

    <div>
      <img src="assets/logo.png" class="logo"/>
      

      <ion-item color="primary"> 
        <ion-label><h1 class="texto_centrado_blanco margen_arriba">Registra tus datos</h1></ion-label>
      <br><br>
      </ion-item>
  
      <br>
      <h3 class="texto_seguro ion-text-wrap">Registra tus datos financieros, cualquier dato personal tuyo introducido en la app será usado de forma segura, sin algún otro mérito que con el de ayudarte en tus finanzas personales.</h3>

      <ion-button 
      expand="block" 
      color="success" 
      size= "large"
      class="botonRegistrar"
      (click)="irARegistro()">Registrar mis datos</ion-button>

      <br><br><br>
    </div>

  </ion-slide>

</ion-slides>

</ion-content>
