<ion-item color="primary"> 
  <ion-label><h1 class="texto_centrado_blanco">Limpieza Personal</h1></ion-label>
</ion-item>

<ion-list>
  <ion-item *ngFor="let pregunta of subTestsEncontrados[0].preguntas">
    <div>
    <ion-item lines="none">  
      <ion-label class="margen_derecha_18 ion-text-wrap">{{pregunta.preguntaTexto}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-list class="margen_izquierda_60">
        <ion-radio-group required (ionChange)="radioButtonChange($event, pregunta.id, 1)">
          <ion-item lines="none" *ngFor="let respuesta of pregunta.respuestas">
            <ion-radio color="dark" value="{{respuesta.valor}}"></ion-radio>
            <ion-label class="margen_izquierda_20 ion-text-wrap">{{respuesta.respuestaTexto}}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>
  </div>

  </ion-item>
</ion-list>

<ion-item color="primary"> 
  <ion-label><h1 class="texto_centrado_blanco">Salud</h1></ion-label>
</ion-item>

<ion-list>
  <ion-item *ngFor="let pregunta of subTestsEncontrados[1].preguntas">
    <div>
    <ion-item lines="none">  
      <ion-label class="margen_derecha_18 ion-text-wrap">{{pregunta.preguntaTexto}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-list class="margen_izquierda_60">
        <ion-radio-group required (ionChange)="radioButtonChange($event, pregunta.id, 2)">
          <ion-item lines="none" *ngFor="let respuesta of pregunta.respuestas">
            <ion-radio color="dark" value="{{respuesta.valor}}"></ion-radio>
            <ion-label class="margen_izquierda_20 ion-text-wrap">{{respuesta.respuestaTexto}}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>
  </div>

  </ion-item>
</ion-list>

<ion-item color="primary"> 
  <ion-label><h1 class="texto_centrado_blanco">Ropa</h1></ion-label>
</ion-item>

<ion-list>
  <ion-item *ngFor="let pregunta of subTestsEncontrados[2].preguntas">
    <div>
    <ion-item lines="none">  
      <ion-label class="margen_derecha_18 ion-text-wrap">{{pregunta.preguntaTexto}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-list class="margen_izquierda_60">
        <ion-radio-group required (ionChange)="radioButtonChange($event, pregunta.id, 3)">
          <ion-item lines="none" *ngFor="let respuesta of pregunta.respuestas">
            <ion-radio color="dark" value="{{respuesta.valor}}"></ion-radio>
            <ion-label class="margen_izquierda_20 ion-text-wrap">{{respuesta.respuestaTexto}}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>
  </div>

  </ion-item>
</ion-list>

<ion-button 
expand="block" 
color="success" 
(click)="testFinalizado()"
[disabled]=" radioRequired[0][1] || radioRequired[0][2] || radioRequired[0][3] || radioRequired[0][4] || radioRequired[0][5] || radioRequired[1][1] || radioRequired[1][2] || radioRequired[1][3] || radioRequired[2][1] || radioRequired[2][2] || radioRequired[2][3]">Terminar Test</ion-button>

