<app-header-modal titulo="Mis Gastos"></app-header-modal>
<ion-content>

  <ion-content>
  
    <ion-item color="primary"> 
      <ion-label><h1 class="texto_centrado_blanco">Datos Personales</h1></ion-label>
    </ion-item>
  
    <ion-item lines="none"> 
      <ion-label class="texto_centrado"><p>Modifica tus datos personales</p>
                                          <p>si no quieres cambiar alguno, asi dejalo.</p></ion-label>
    </ion-item>
  
    <ion-item>
  
      <ion-buttons slot="start">
      <ion-button slots="icon-only">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-label>Nombre</ion-label>


    <ion-input type="text"
               value= {{usuarioCargado.nombre}}>
    </ion-input>
    </ion-item>
  
    <ion-item lines="none">
  
      <ion-buttons slot="start">
      <ion-button slotgs="icon-only">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-label class="margen_derecha_18">Selecciona tu sexo</ion-label>
    </ion-item>

    <ion-item>
      <ion-list class="margen_izquierda_60">
        <ion-radio-group>
          <ion-item lines="none">
            <ion-radio color="dark" checked="{{hombre}}"></ion-radio>
            <ion-label class="margen_izquierda_20">Masculino</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-radio color="dark" checked="{{mujer}}"></ion-radio>
            <ion-label class="margen_izquierda_20">Femenino</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item> 
  
  
    <ion-item lines="none">
  
      <ion-buttons slot="start">
      <ion-button slots="icon-only">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-label class="margen_derecha_18">Tipo de ingreso</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-list class="margen_izquierda_60">
        <ion-radio-group>
          <ion-item lines="none">
            <ion-radio color="dark" checked="{{fijo}}"></ion-radio>
            <ion-label class="margen_izquierda_20">Fijo</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-radio color="dark" checked="{{variable}}"></ion-radio>
            <ion-label class="margen_izquierda_20">Variable</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item> 
  
    <ion-item>
      <ion-buttons slot="start">
      <ion-button slots="icon-only">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>Ingreso mensual</ion-label>
    <ion-input type="text"
              value={{usuarioCargado.ingresoCantidad}}>
    </ion-input>
    </ion-item>
  
    <ion-item color="primary"> 
      <ion-label><h1 class="texto_centrado_blanco">Gastos</h1></ion-label>
    </ion-item>
  
    <ion-item lines="none"> 
      <ion-label class="texto_centrado"><p>Modifica tus gastos mensuales en cada seccion, </p>
      <p>si no quieres cambiar alguno, asi dejalo.</p></ion-label>
    </ion-item>
  
    <ion-item *ngFor="let etiqueta of etiquetas; let i = index">
      <ion-buttons slot="start">
      <ion-button slots="icon-only">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>{{etiqueta}}</ion-label>
    <ion-input type="text"
               value= {{usuarioCargado.gastos[i].cantidad}}>
    </ion-input>
  </ion-item>
  
        <ion-button expand="block" color="success">Modificar datos</ion-button>
  
  </ion-content>
