<app-header-modal titulo="Mis Gastos"></app-header-modal>
<ion-content>

  <ion-item lines="none"> 
    <ion-label class="texto_centrado"><h1>Mis Gastos</h1></ion-label>
  </ion-item>
  <ion-item lines="none"> 
    <ion-label class="texto_centrado"><p>Modifica tus datos, si no quieres</p>
    <p> modificar alguno, dejalo como está</p></ion-label>
  </ion-item>
  <ion-item></ion-item>
 
  <ion-item color="dark"> 
    <ion-label><h1 class="texto_centrado_blanco">Datos Personales</h1></ion-label>
  </ion-item>

  <ion-item>

    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-label>Nombre</ion-label>

  <ion-input type="text"
            placeholder="Gustavo Hernández">
  </ion-input>
  </ion-item>

  <ion-item lines="none">

    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-label class="margen_derecha_18">Selecciona tu sexo</ion-label>
  </ion-item>

  <ion-item>
  <ion-checkbox color="dark" mode="ios" class="margen_izquierda_75"></ion-checkbox><ion-label class="margen_izquierda_10">Hombre</ion-label>
  <ion-checkbox color="dark" mode="ios" class="margen_izquierda_20"></ion-checkbox><ion-label class="margen_izquierda_10">Mujer</ion-label>
  </ion-item>  

  <ion-item lines="none">

    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-label class="margen_derecha_18">Tipo de ingreso</ion-label>
  </ion-item>

  <ion-item>
  <ion-checkbox color="dark" mode="ios" class="margen_izquierda_75"></ion-checkbox><ion-label class="margen_izquierda_10">Fijo</ion-label>
  <ion-checkbox color="dark" mode="ios" class="margen_izquierda_20"></ion-checkbox><ion-label class="margen_izquierda_10">Variable</ion-label>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Ingreso mensual</ion-label>
  <ion-input type="text"
            placeholder="Ej. 15000">
  </ion-input>
  </ion-item>

  <ion-item color="dark"> 
    <ion-label><h1 class="texto_centrado_blanco">Gastos</h1></ion-label>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Vivienda</ion-label>
  <ion-input type="text"
            placeholder="Ej. 3000">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Ropa</ion-label>
  <ion-input type="text"
            placeholder="Ej. 1000">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Mobilario</ion-label>
  <ion-input type="text"
            placeholder="Ej. 1000">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Limpieza</ion-label>
  <ion-input type="text"
            placeholder="Ej. 500">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Seguro</ion-label>
  <ion-input type="text"
            placeholder="Ej. 3000">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Alimentos</ion-label>
  <ion-input type="text"
            placeholder="Ej. 6000">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Internet/cable/telefonia</ion-label>
  <ion-input type="text"
            placeholder="Ej. 700">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Electronicos</ion-label>
  <ion-input type="text"
            placeholder="Ej. 350">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Educacion</ion-label>
  <ion-input type="text"
            placeholder="Ej. 1250">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Salud</ion-label>
  <ion-input type="text"
            placeholder="Ej. 800">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Transporte</ion-label>
  <ion-input type="text"
            placeholder="Ej. 4500">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Ocio</ion-label>
  <ion-input type="text"
            placeholder="Ej. 3000">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Agua</ion-label>
  <ion-input type="text"
            placeholder="Ej. 400">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Luz</ion-label>
  <ion-input type="text"
            placeholder="Ej. 1000">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Gas</ion-label>
  <ion-input type="text"
            placeholder="Ej. 800">
  </ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Extra</ion-label>
  <ion-input type="text"
             placeholder="Ej. 300">
  </ion-input>
  </ion-item>

      <ion-button expand="block" color="dark" (click)="regresar()">Cambiar Datos</ion-button>

</ion-content>
