<!-- PREGUNTA INICIAL -->

<div>

  <ion-item lines="none">  
    <ion-label class="margen_derecha_18 ion-text-wrap">El gasto en ocio es uno de los más complicados de controlar. A nadie le gusta reducir el dinero que gasta en cosas que le aportan felicidad, por lo que te pediremos que trates de seguir lo más que puedas aunque no en su totalidad los consejos que al terminar el test te daremos.</ion-label>
    </ion-item>

  <ion-item lines="none">  
  <ion-label class="margen_derecha_18 ion-text-wrap">Selecciona qué actividades de ocio o hobbies sueles realizar:</ion-label>
  </ion-item>

    <ion-list class="margen_izquierda_60">

            <ion-item>
              <ion-checkbox color="dark" (ionChange)="checkBoxInicial($event, 0)"></ion-checkbox>
              <ion-label class="margen_izquierda_20 ion-text-wrap">Libros</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="dark" (ionChange)="checkBoxInicial($event, 1)"></ion-checkbox>
              <ion-label class="margen_izquierda_20 ion-text-wrap">Peliculas</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="dark" (ionChange)="checkBoxInicial($event, 2)"></ion-checkbox>
              <ion-label class="margen_izquierda_20 ion-text-wrap">Videojuegos</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="dark" (ionChange)="checkBoxInicial($event, 3)"></ion-checkbox>
              <ion-label class="margen_izquierda_20 ion-text-wrap">Salidas con amigos/pareja</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="dark" (ionChange)="checkBoxInicial($event, 4)"></ion-checkbox>
              <ion-label class="margen_izquierda_20 ion-text-wrap">Viajar</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="dark" (ionChange)="checkBoxInicial($event, 5)"></ion-checkbox>
              <ion-label class="margen_izquierda_20 ion-text-wrap">Eventos culturales/deportivos</ion-label>
            </ion-item>
            </ion-list>

            <div *ngIf="permisos[0] == true">
              <ion-item color="primary"> 
                <ion-label><h1 class="texto_centrado_blanco">Libros</h1></ion-label>
              </ion-item>
          
              <ion-list>
                <ion-item *ngFor="let pregunta of subTestsEncontrados[0].preguntas">
                  <div>
                  <ion-item lines="none">  
                    <ion-label class="margen_derecha_18 ion-text-wrap">{{pregunta.preguntaTexto}}</ion-label>
                  </ion-item>
          
                  <ion-item>
                    <ion-list class="margen_izquierda_60">
                      <ion-radio-group required (ionChange)="radioButtonChange($event, pregunta.id, 1)">
                        <ion-item lines="none" *ngFor="let respuesta of pregunta.respuestas">
                          <ion-radio color="dark" value="{{respuesta.valor}}"></ion-radio>
                          <ion-label class="margen_izquierda_20 ion-text-wrap">{{respuesta.respuestaTexto}}</ion-label>
                        </ion-item>
                      </ion-radio-group>
                    </ion-list>
                  </ion-item>
                </div>
          
                </ion-item>
              </ion-list>

              <ion-button 
              expand="block" 
              color="success" 
              (click)="testLibros()"
              [disabled]="radioRequired[0][1] || radioRequired[0][2] || radioRequired[0][3]">Obtener consejo de Libros</ion-button>
                              
            </div>

            <div *ngIf="permisos[1] == true">
              <ion-item color="primary"> 
                <ion-label><h1 class="texto_centrado_blanco">Peliculas</h1></ion-label>
              </ion-item>
          
              <ion-list>
                <ion-item *ngFor="let pregunta of subTestsEncontrados[1].preguntas">
                  <div>
                  <ion-item lines="none">  
                    <ion-label class="margen_derecha_18 ion-text-wrap">{{pregunta.preguntaTexto}}</ion-label>
                  </ion-item>
          
                  <ion-item>
                    <ion-list class="margen_izquierda_60">
                      <ion-radio-group required (ionChange)="radioButtonChange($event, pregunta.id, 2)">
                        <ion-item lines="none" *ngFor="let respuesta of pregunta.respuestas">
                          <ion-radio color="dark" value="{{respuesta.valor}}"></ion-radio>
                          <ion-label class="margen_izquierda_20 ion-text-wrap">{{respuesta.respuestaTexto}}</ion-label>
                        </ion-item>
                      </ion-radio-group>
                    </ion-list>
                  </ion-item>
                </div>
          
                </ion-item>
              </ion-list>
          
              <ion-button 
              expand="block" 
              color="success" 
              (click)="testPeliculas()"
              [disabled]="radioRequired[1][1] || radioRequired[1][2] || radioRequired[1][3] || radioRequired[1][4]">Obtener consejo de Películas</ion-button>
                      
            </div>

            <div *ngIf="permisos[2] == true">
              <ion-item color="primary"> 
                <ion-label><h1 class="texto_centrado_blanco">Videojuegos</h1></ion-label>
              </ion-item>
          
              <ion-list>
                <ion-item *ngFor="let pregunta of subTestsEncontrados[2].preguntas">
                  <div>
                  <ion-item lines="none">  
                    <ion-label class="margen_derecha_18 ion-text-wrap">{{pregunta.preguntaTexto}}</ion-label>
                  </ion-item>
          
                  <ion-item>
                    <ion-list class="margen_izquierda_60">
                      <ion-radio-group required (ionChange)="radioButtonChange($event, pregunta.id, 3)">
                        <ion-item lines="none" *ngFor="let respuesta of pregunta.respuestas">
                          <ion-radio color="dark" value="{{respuesta.valor}}"></ion-radio>
                          <ion-label class="margen_izquierda_20 ion-text-wrap">{{respuesta.respuestaTexto}}</ion-label>
                        </ion-item>
                      </ion-radio-group>
                    </ion-list>
                  </ion-item>
                </div>
          
                </ion-item>
              </ion-list>
          
              <ion-button 
              expand="block" 
              color="success" 
              (click)="testVideojuegos()"
              [disabled]="radioRequired[2][1] || radioRequired[2][2] || radioRequired[2][3]">Obtener consejo de Videojuegos</ion-button>

            </div>

            <div *ngIf="permisos[3] == true">
              <ion-item color="primary"> 
                <ion-label><h1 class="texto_centrado_blanco">Salidas con amigos/pareja</h1></ion-label>
              </ion-item>
          
              <ion-list>
                <ion-item *ngFor="let pregunta of subTestsEncontrados[3].preguntas">
                  <div>
                  <ion-item lines="none">  
                    <ion-label class="margen_derecha_18 ion-text-wrap">{{pregunta.preguntaTexto}}</ion-label>
                  </ion-item>
          
                  <ion-item>
                    <ion-list class="margen_izquierda_60">
                      <ion-radio-group required (ionChange)="radioButtonChange($event, pregunta.id, 4)">
                        <ion-item lines="none" *ngFor="let respuesta of pregunta.respuestas">
                          <ion-radio color="dark" value="{{respuesta.valor}}"></ion-radio>
                          <ion-label class="margen_izquierda_20 ion-text-wrap">{{respuesta.respuestaTexto}}</ion-label>
                        </ion-item>
                      </ion-radio-group>
                    </ion-list>
                  </ion-item>
                </div>
          
                </ion-item>
              </ion-list>
          
              <ion-button 
              expand="block" 
              color="success" 
              (click)="testAmigosPareja()"
              class="ion-text-wrap"
              [disabled]="radioRequired[3][1] || radioRequired[3][2] || radioRequired[3][3]">Obtener consejo de salidas con amigos/pareja</ion-button>
                      
            </div>

            <div *ngIf="permisos[4] == true">
              <ion-item color="primary"> 
                <ion-label><h1 class="texto_centrado_blanco">Viajes</h1></ion-label>
              </ion-item>
          
              <ion-list>
                <ion-item *ngFor="let pregunta of subTestsEncontrados[4].preguntas">
                  <div>
                  <ion-item lines="none">  
                    <ion-label class="margen_derecha_18 ion-text-wrap">{{pregunta.preguntaTexto}}</ion-label>
                  </ion-item>
          
                  <ion-item>
                    <ion-list class="margen_izquierda_60">
                      <ion-radio-group required (ionChange)="radioButtonChange($event, pregunta.id, 5)">
                        <ion-item lines="none" *ngFor="let respuesta of pregunta.respuestas">
                          <ion-radio color="dark" value="{{respuesta.valor}}"></ion-radio>
                          <ion-label class="margen_izquierda_20 ion-text-wrap">{{respuesta.respuestaTexto}}</ion-label>
                        </ion-item>
                      </ion-radio-group>
                    </ion-list>
                  </ion-item>
                </div>
          
                </ion-item>
              </ion-list>
          
              <ion-button 
              expand="block" 
              color="success" 
              (click)="testViajes()"
              [disabled]="radioRequired[4][1] || radioRequired[4][2] || radioRequired[4][3]">Obtener consejo de Viajes</ion-button>
                      
            </div>

            <div *ngIf="permisos[5] == true">
              <ion-item color="primary"> 
                <ion-label><h1 class="texto_centrado_blanco">Eventos culturales o deportivos</h1></ion-label>
              </ion-item>
          
              <ion-list>
                <ion-item *ngFor="let pregunta of subTestsEncontrados[5].preguntas">
                  <div>
                  <ion-item lines="none">  
                    <ion-label class="margen_derecha_18 ion-text-wrap">{{pregunta.preguntaTexto}}</ion-label>
                  </ion-item>
          
                  <ion-item>
                    <ion-list class="margen_izquierda_60">
                      <ion-radio-group required (ionChange)="radioButtonChange($event, pregunta.id, 6)">
                        <ion-item lines="none" *ngFor="let respuesta of pregunta.respuestas">
                          <ion-radio color="dark" value="{{respuesta.valor}}"></ion-radio>
                          <ion-label class="margen_izquierda_20 ion-text-wrap">{{respuesta.respuestaTexto}}</ion-label>
                        </ion-item>
                      </ion-radio-group>
                    </ion-list>
                  </ion-item>
                </div>
          
                </ion-item>
              </ion-list>
          
              <ion-button 
              expand="block" 
              color="success" 
              (click)="testEventos()"
              class="ion-text-wrap"
              [disabled]="radioRequired[5][1] || radioRequired[5][2]">Obtener consejo de Eventos culturales/deportivos</ion-button>
                      
            </div>
