<app-header-modal titulo="Calendario" ruta="/tabs/tab1"></app-header-modal>
<ion-toolbar color="primary">
  <ion-title text-capitalize>
    {{ viewTitle }}
  </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="today()" class="boton-gris">Ir al dia de hoy</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>

  <ion-card>
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>Nuevo Recordatorio</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">
 
      <ion-item>
        <ion-input type="text" placeholder="Titulo del recordatorio" [(ngModel)]="event.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Descripcion del recordatorio" [(ngModel)]="event.desc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Inicio</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Fin</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Agregar Recordatorio</ion-button>
 
    </ion-card-content>
  </ion-card>
 
  <ion-row>
 
    <!-- Move back one screen of the slides -->
    <ion-col size="3" text-left>
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="6">
    <ion-button expand="block" color="primary"> {{ viewTitle }}</ion-button>
    </ion-col>
 
    <!-- Move forward one screen of the slides -->
    <ion-col size="3" text-right>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar *ngIf="cargaYa == true"
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1"
  [locale]="calendar.locale"> 
</calendar>

</ion-content>
