<app-header-modal titulo="Registro"></app-header-modal>

<ion-content>

  <ion-item>

    <ion-buttons slot="start">
    <ion-button slots="icon-only">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-label>Nombre</ion-label>

  <ion-input type="text"
            placeholder="Gustavo Hernández">
  </ion-input>
  </ion-item>

<p>
  <ion-button (click)="salirSinArgumentos()" 
              color="primary" >
    Salir del modal
  </ion-button>
</p>

</ion-content>
