<ion-header no-border>
  <ion-toolbar color="success">

    <ion-title>Registro</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formulario="ngForm">
  <ion-item color="primary"> 
    <ion-label><h1 class="texto_centrado_blanco">Datos Personales</h1></ion-label>
  </ion-item>

  <ion-item lines="none"> 
    <ion-label class="texto_centrado"><p>Registra tus datos personales</p></ion-label>
  </ion-item>

  <ion-item>

    <ion-buttons slot="start">
    <ion-button slots="icon-only" (click)="botonInfo('Nombre')">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-label>Nombre</ion-label>

  <ion-input type="text"
            placeholder="Gustavo Hernández"
            [(ngModel)]="usuario.nombre"
            name="nombre"
            required>
  </ion-input>
  </ion-item>

  <ion-item lines="none">

    <ion-buttons slot="start">
    <ion-button slotgs="icon-only" (click)="botonInfo('Sexo')">
      <ion-icon name="information-circle" ></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-label class="margen_derecha_18">Selecciona tu sexo</ion-label>
  </ion-item>

  <ion-item>
    <ion-list class="margen_izquierda_60">
      <ion-radio-group required
                        (ionChange)="sexoRadio($event)"
                        name="sexo">
        <ion-item lines="none">
          <ion-radio color="dark" value="/assets/Hombre.png"></ion-radio>
          <ion-label class="margen_izquierda_20">Masculino</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio color="dark" value="/assets/Mujer.png"></ion-radio>
          <ion-label class="margen_izquierda_20">Femenino</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-item> 

  <ion-item lines="none">

    <ion-buttons slot="start">
    <ion-button slots="icon-only" (click)="botonInfo('Tipo de Ingreso')">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-label class="margen_derecha_18">Tipo de ingreso</ion-label>
  </ion-item>

  <ion-item>
    <ion-list class="margen_izquierda_60">
      <ion-radio-group required
                        (ionChange)="ingresoRadio($event)">
        <ion-item lines="none">
          <ion-radio color="dark" value="Fijo"></ion-radio>
          <ion-label class="margen_izquierda_20">Fijo</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio color="dark" value="Variable"></ion-radio>
          <ion-label class="margen_izquierda_20">Variable</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-item> 

  <ion-item>
    <ion-buttons slot="start">
    <ion-button slots="icon-only" (click)="botonInfo('Ingreso mensual')">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>Ingreso mensual</ion-label>
  <ion-input type="number"
            placeholder="Ej. 15000"
            required 
            [(ngModel)]="usuario.ingresoCantidad"
            name="ingreso">
  </ion-input>
  </ion-item>

  <ion-item color="primary"> 
    <ion-label><h1 class="texto_centrado_blanco">Gastos</h1></ion-label>
  </ion-item>

  <ion-item lines="none"> 
    <ion-label class="texto_centrado"><p>Registra tus gastos mensuales en cada seccion, </p>
    <p>si en alguno no gastas registra un 0</p></ion-label>
  </ion-item>

  <ion-item *ngFor="let etiqueta of etiquetas; let i = index">
    <ion-buttons slot="start">
    <ion-button slots="icon-only" (click)="botonInfo(etiqueta)">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-label>{{etiqueta}}</ion-label>
  <ion-input type="number"
            placeholder="Ej. 300"
            [(ngModel)]="usuario.gastos[i].cantidad"
            [name]="etiqueta"
            required>
  </ion-input>
  
</ion-item>

      <ion-button expand="block"
                  color="success"
                  (click)="registrar()"
                  [disabled]="formulario.invalid || ingreso || sexo">Registrarme</ion-button>

</form>

</ion-content>
