.noHay {
color: gray;
text-align: center;
}

.card {
text-align: center;
margin-top: 30%;
}

.alineado {
text-align: center;
}

.grande {
margin-top: 2%;
font-size: 30px;
}

.mediana {
margin-top: 10%;
margin-right: 5%;
margin-left: 5%;
font-size: 20px;
}

.mediana2 {
margin-top: 10%;
margin-right: 5%;
margin-left: 5%;
margin-bottom: 20%;
font-size: 20px;
}