<app-header-modal titulo="Test de {{testEncontrado.texto}}" ruta="/tabs/tab3"></app-header-modal>

<ion-content>
  <form #formulario="ngForm">

    <!-- INTERNET -->

    <div *ngIf="id==5">
    <ion-item lines="none">  
    <ion-label class="margen_derecha_18">¿Cuenta con servicio de internet actualmente?</ion-label>
    </ion-item>

    <ion-item>
      <ion-list class="margen_izquierda_60">
        <ion-radio-group required 
                          #tipoIngreso 
                          (ionChange)="subTest1($event)">
          <ion-item lines="none">
            <ion-radio color="dark" value="si"></ion-radio>
            <ion-label class="margen_izquierda_20">Si</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-radio color="dark" value="no"></ion-radio>
            <ion-label class="margen_izquierda_20">No</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item> 
  </div>
  
  <div *ngIf="permiso1==true">
  <ion-item lines="none">  
    <ion-label class="margen_derecha_18">{{subTestEncontrado.preguntas[1].preguntaTexto}}</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-list class="margen_izquierda_60">
        <ion-radio-group required 
                          #tipoIngreso 
                          (ionChange)="subTest1($event)">
          <ion-item lines="none">
            <ion-radio color="dark" value="si"></ion-radio>
            <ion-label class="margen_izquierda_20">{{subTestEncontrado.preguntas[1].respuestas[1]}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-radio color="dark" value="no"></ion-radio>
            <ion-label class="margen_izquierda_20">{{subTestEncontrado.preguntas[1].respuestas[2]}}</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>
  </div>
  </form>

</ion-content>

