<app-header-modal *ngIf="registro == 'false'" titulo="Inserta un nuevo plan" ruta="/tabs/tab2"></app-header-modal>

<ion-header no-border *ngIf="registro == 'true'">
  <ion-toolbar color="success">
    
    <ion-buttons slot="start">
      <ion-button (click)="omitir()">
        Omitir
      </ion-button>
    </ion-buttons>

    <ion-title>Inserta un nuevo plan</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form #formulario="ngForm">

    <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only" (click)="botonInfo('Nombre del Plan')">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Nombre del plan</ion-label>
    
      <ion-input type="text"
                placeholder="Casa nueva"
                [(ngModel)]="planNuevo.nombre"
                name="nombrePlan"
                required>
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only" (click)="botonInfo('Costo')">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Costo</ion-label>
    
      <ion-input type="number"
                placeholder="500000"
                [(ngModel)]="planNuevo.cantidadTotal"
                 name="costoPlan"
                 (ionChange)="comprobar($event, planNuevo.cantidadTotal, 1)"
                required>
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only" (click)="botonInfo('Tiempo del Plan')">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Tiempo de plan (meses)</ion-label>
    
      <ion-input type="number"
                placeholder="12"
                [(ngModel)]="planNuevo.tiempoTotal"
                name="tiempoPlan"
                required
                (ionChange)="tiempoPlan($event, 2)"
                #tiempo
                >
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only" (click)="botonInfo('Descripcion')">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Descripcion</ion-label>
    
      <ion-input type="text"
                placeholder="Casa ubicada en Av. Valdepeñas"
                [(ngModel)]="planNuevo.descripcion"
                name="descripcionPlan">
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only" (click)="botonInfo('Cantidad acumulada')">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Cantidad acumulada</ion-label>
    
      <ion-input type="number"
                placeholder="1000"
                [(ngModel)]="planNuevo.cantidadAcumulada"
                name="cantidadAcumulada"
                (ionChange)="comprobar($event, planNuevo.cantidadAcumulada, 3)"
                required>
      </ion-input>
      </ion-item>

    <ion-button expand="block"
                color="success"
                (click)="insertarPlanes.calcularYRegistrar(this.planNuevo)"
                [disabled]="formulario.invalid || invalido || invalido2">Registrar plan</ion-button>

  </form>            

</ion-content>
