<app-header-modal titulo="Inserta un nuevo plan"></app-header-modal>

<ion-content>

    <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Nombre del plan</ion-label>
    
      <ion-input type="text"
                placeholder="Casa nueva"
                [(ngModel)]="planNuevo.nombre"
                name="nombrePlan"
                required>
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Costo</ion-label>
    
      <ion-input type="number"
                placeholder="500000"
                [(ngModel)]="planNuevo.cantidadTotal"
                 name="costoPlan"
                required>
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Tiempo de plan (meses)</ion-label>
    
      <ion-input type="number"
                placeholder="12"
                [(ngModel)]="planNuevo.tiempoTotal"
                name="tiempoPlan"
                required>
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Descripcion</ion-label>
    
      <ion-input type="text"
                placeholder="Casa ubicada en Av. Valdepeñas"
                [(ngModel)]="planNuevo.descripcion"
                name="descripcionPlan"
                required>
      </ion-input>
      </ion-item>

    <ion-button expand="block"
                color="success"
                (click)="calcularYRegistrar()">Registrar plan</ion-button>

</ion-content>
