<app-header></app-header>

<ion-content>
    
    <ion-slides class="slide-full" pager="true">

        <ion-slide *ngFor="let plan of planesDis; let i = index">
            <ion-content>

                <ion-card *ngIf="planesExiste == false">
 
                    <ion-item color="primary" class="cambio">
                        <ion-buttons slot="start">
                            <ion-button slots="icon-only" (click)="botonInfo('Mis planes')">
                              <ion-icon name="information-circle"></ion-icon>
                            </ion-button>
                          </ion-buttons>
    
                        <ion-label><h1 class="text margen">No hay planes</h1></ion-label>

                    </ion-item>

                    <ion-item lines="none">
                        <ion-label><h1 class="noHay">Crea tu primer plan</h1></ion-label>
                    </ion-item>
        
                    <p></p>
        
                    <ion-item lines="none">
                        <ion-button 
                                        color="success" 
                                        (click)="abrirFormulario('planNuevo', null)"
                                        class="botonNoPlanes"
                                        size="medium">
                                <ion-icon slot="icon-only" name="add"></ion-icon>
                            </ion-button>
                    </ion-item>
                </ion-card>
                
            <ion-card *ngIf="planesExiste == true">
                <ion-item color="danger" class="cambio" *ngIf="plan.plan.pausado == true">

                    <ion-label><h1 class="centrar">PAUSADO</h1></ion-label>
                </ion-item>


                <ion-item color="primary" class="cambio">
                    <ion-buttons slot="start">
                        <ion-button slots="icon-only" (click)="botonInfo('Mis planes')">
                          <ion-icon name="information-circle"></ion-icon>
                        </ion-button>
                      </ion-buttons>

                    <ion-label><h1 class="text">{{plan.plan.nombre}}</h1></ion-label>
                        <ion-button 
                                    color="success" 
                                    (click)="abrirFormulario('planNuevo', null)"
                                    slot="end">
                            <ion-icon slot="icon-only" name="add"></ion-icon>
                        </ion-button>
                </ion-item>
                
                <p></p>
                <div style="display: block;">
                    <canvas baseChart 
                      [data]="plan.doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                       [colors]="chartColors"
                       [legend]="legend">
                    </canvas>
        
                    <ion-list>
                        <ion-item lines="none">
                        </ion-item>
                    </ion-list>

                  </div>

                  <ion-item lines="none"></ion-item>

                <ion-fab horizontal="center">
                    <ion-fab-button color="primary">
                        <ion-icon name = "build">
                        </ion-icon>
                    </ion-fab-button>

                    
                    <ion-fab-list side="start">
                            <ion-fab-button color="warning" (click)="abrirFormulario('modificar', i)">
                                <ion-icon name="settings">
                                </ion-icon>
                            </ion-fab-button>

                            <ion-fab-button color="danger" (click)="borrarPlan(i)">
                                <ion-icon name = "trash">
                                </ion-icon>
                            </ion-fab-button>

                    </ion-fab-list>
                    
                    
                    <ion-fab-list side="end">
                        <ion-fab-button color="danger" (click)="pausarPlan(i, plan.plan)" >
                            <ion-icon name="pause">
                            </ion-icon>
                        </ion-fab-button>

                        <ion-fab-button color="success" (click)="renaudarPlan(i, plan.plan)">
                            <ion-icon name = "play">
                            </ion-icon>
                        </ion-fab-button>

                        </ion-fab-list>


            <ion-fab-list side="top"> 
                <ion-fab-button size="small" color="success" (click)="transferir(plan.plan)">
                    <ion-icon name="git-compare">
                    </ion-icon>
                </ion-fab-button>

        </ion-fab-list>

                </ion-fab>

                  <ion-list>

                    <ion-item lines="none"></ion-item>
                    <ion-item lines="none"></ion-item>

                    <ion-item>
                        <ion-label color="tertiary">Porcentaje de avance</ion-label>
                        <ion-label class="margentexto">{{plan.doughnutChartData[0]}}%</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="tertiary">Cantidad total</ion-label>
                        <ion-label class="margentexto">${{plan.plan.cantidadTotal}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="tertiary">Tiempo total</ion-label>
                        <ion-label class="margentexto">{{plan.plan.tiempoTotal}} meses</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="tertiary">Tiempo restante</ion-label>
                        <ion-label class="margentexto">{{plan.plan.tiempoRestante}} meses</ion-label>
                    </ion-item>

                    <ion-item (click)="descripcion(plan.plan.descripcion)" *ngIf="plan.plan.descripcion">
                        <ion-label color="tertiary">Descripcion</ion-label>
                        <ion-label class="margentexto">{{plan.plan.descripcion}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="tertiary">Cantidad acumulada</ion-label>
                        <ion-label class="margentexto">${{plan.plan.cantidadAcumulada}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="tertiary">Aportacion Mensual</ion-label>
                        <ion-label class="margentexto">${{plan.plan.aportacionMensual}}</ion-label>
                    </ion-item>

                  </ion-list>

            </ion-card>
        </ion-content>

        </ion-slide>

        <ion-slide *ngIf="planesExiste == true && this.planesDis.length > 1">
            <ion-content>

                <ion-card>
                    <ion-item lines="none">
                        <ion-label><h1 class="acomodar">Ordenar Planes</h1></ion-label>
                    </ion-item>
        
                    <p></p>
        
                    <ion-item lines="none">
                        <ion-button 
                                        color="success" 
                                        (click)="irAcomodarPlanes()"
                                        class="botonNoPlanes"
                                        size="medium">
                                <ion-icon slot="icon-only" name="list" mode="ios"></ion-icon>
                            </ion-button>
                    </ion-item>
                </ion-card>
            </ion-content>
        </ion-slide>
    
    </ion-slides>

</ion-content>

