<app-header></app-header>

<ion-content>
    
    <ion-slides class="slide-full" pager="true">

        <ion-slide *ngFor="let plan of planes; let i = index">
            <ion-content>
                <ion-card *ngIf="planesExiste == false">
                    <ion-item lines="none">
                        <ion-label><h1 class="noHay">No hay planes</h1></ion-label>
                    </ion-item>
    
                    <p></p>
    
                    <ion-item lines="none">
                        <ion-button 
                                        color="success" 
                                        (click)="abrirFormulario()"
                                        class="botonNoPlanes"
                                        size="medium">
                                <ion-icon slot="icon-only" name="add"></ion-icon>
                            </ion-button>
                    </ion-item>
                </ion-card>
                
            <ion-card *ngIf="planesExiste == true">
                <ion-item color="primary" class="cambio"> 
                    <ion-label><h1 class="text">{{plan.plan.nombre}}</h1></ion-label>
                        <ion-button 
                                    color="success" 
                                    (click)="abrirFormulario()"
                                    slot="end">
                            <ion-icon slot="icon-only" name="add"></ion-icon>
                        </ion-button>
                </ion-item>
                
                <p></p>
                <div style="display: block;">
                    <canvas baseChart 
                      [data]="plan.doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                       [colors]="chartColors"
                       [legend]="legend">
                    </canvas>
                  </div>
                  <p></p>

                  <ion-list>

                    <ion-item>
                        <ion-label color="tertiary">Porcentaje de avance</ion-label>
                        <ion-label class="margentexto">{{plan.doughnutChartData[0]}}%</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="tertiary">Cantidad total</ion-label>
                        <ion-label class="margentexto">${{plan.plan.cantidadTotal}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="tertiary">Tiempo total</ion-label>
                        <ion-label class="margentexto">{{plan.plan.tiempoTotal}} meses</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="tertiary">Tiempo restante</ion-label>
                        <ion-label class="margentexto">{{plan.plan.tiempoRestante}} meses</ion-label>
                    </ion-item>

                    <ion-item (click)="descripcion(plan.plan.descripcion)" *ngIf="plan.plan.descripcion">
                        <ion-label color="tertiary">Descripcion</ion-label>
                        <ion-label class="margentexto">{{plan.plan.descripcion}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="tertiary">Cantidad acumulada</ion-label>
                        <ion-label class="margentexto">${{plan.plan.cantidadAcumulada}}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="tertiary">Aportacion Mensual</ion-label>
                        <ion-label class="margentexto">${{plan.plan.aportacionMensual}}</ion-label>
                    </ion-item>

                  </ion-list>
            </ion-card>
        </ion-content>

        </ion-slide>
    
    </ion-slides>

</ion-content>

