<!-- PREGUNTA INICIAL -->

<div>
  <ion-item lines="none">  
  <ion-label class="margen_derecha_18 ion-text-wrap">Selecciona que medios de trasnporte sueles utilizar:</ion-label>
  </ion-item>

    <ion-list class="margen_izquierda_60">

            <ion-item>
              <ion-checkbox color="dark" (ionChange)="checkBoxInicial($event, 0)"></ion-checkbox>
              <ion-label class="margen_izquierda_20 ion-text-wrap">Motocicleta</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="dark" (ionChange)="checkBoxInicial($event, 1)"></ion-checkbox>
              <ion-label class="margen_izquierda_20 ion-text-wrap">Automóvil particular</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="dark" (ionChange)="checkBoxInicial($event, 2)"></ion-checkbox>
              <ion-label class="margen_izquierda_20 ion-text-wrap">Transporte público</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="dark" (ionChange)="checkBoxInicial($event, 3)"></ion-checkbox>
              <ion-label class="margen_izquierda_20 ion-text-wrap">Uber/Taxi</ion-label>
            </ion-item>
            </ion-list>
</div>
