/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.margen_izquierda_20 {
    margin-left: 20px;
}

.margen_izquierda_60 {
    margin-left: 60px;
}

.texto_centrado {
    text-align: center;
}

.texto_centrado_blanco {
    text-align: center;
    color: #ffffff;
}

.centrar
{
  text-align: center;
}

.noHay {
  text-align: center;
  color: lightgray;
  margin-top: 50%;
}

.FF0000
{
  color: #FF0000;
}
.FFA500
{
  color: #FFA500;
}

.FFFF00
{
  color: #FFFF00;
}

.c00FF00
{
  color: #00FF00;
}

.c00BFFF
{
  color: #00BFFF;
}

.c8A2BE2
{
  color: #8A2BE2;
}

.FA8072
{
  color: #FA8072;
}
.FFD700
{
  color: #FFD700;
}

.c00FF7F
{
  color: #00FF7F;
}

.c00FFFF
{
  color: #00FFFF;
}

.D2691E
{
  color: #D2691E;
}

.c808080
{
  color: #808080;
}

.FUCHSIA
{
  color: fuchsia;
}

.FF1493
{
  color: #FF1493;
}

.c0000FF
{
  color: #0000FF;
}

.c000000
{
  color: #000000;
}
.c008000
{
  color: #008000;
}


