.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.ingresos {
  color: var(--ion-color-success) !important;
}

.gastos {
  color: var(--ion-color-danger) !important;
}

.noHay {
  text-align: center;
  color: lightgray;
  margin-top: 0%;
}

.my-custom-class {
  color: var(--ion-color-success) !important;
}

.centrado {
  text-align: center;
}

.margen {
  margin-right: 25%;
}