.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.centrar
{
  text-align: center;
}

.FF0000
{
  color: #FF0000;
}
.FFA500
{
  color: #FFA500;
}

.FFFF00
{
  color: #FFFF00;
}

.c00FF00
{
  color: #00FF00;
}

.c00BFFF
{
  color: #00BFFF;
}

.c8A2BE2
{
  color: #8A2BE2;
}

.FA8072
{
  color: #FA8072;
}
.FFD700
{
  color: #FFD700;
}

.c00FF7F
{
  color: #00FF7F;
}

.c00FFFF
{
  color: #00FFFF;
}

.D2691E
{
  color: #D2691E;
}

.c808080
{
  color: #808080;
}

.FUCHSIA
{
  color: fuchsia;
}

.FF1493
{
  color: #FF1493;
}

.c0000FF
{
  color: #0000FF;
}

.c000000
{
  color: #000000;
}
.c008000
{
  color: #008000;
}