<ion-menu side="start"
          menuId="MenuPrincipal"
          contentId="Principal">

    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Menú Principal</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="sexo">
      </ion-avatar>
      <ion-label>{{nombre}}</ion-label>
    </ion-item>
      <ion-list>
        <ion-item *ngFor="let opcion of opciones"
                  [routerLink]="opcion.redirigirA">
          <ion-icon color="success" [name]="opcion.icono" slot="start"></ion-icon>
          <ion-label>{{opcion.nombre}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-menu>
