<ion-header no-border>
  <ion-toolbar color="success">
    
    <ion-buttons slot="start">
      <ion-button (click)="regresar()" slot="icon-only">
        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Modificar Plan</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form #formulario="ngForm">

    <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only" (click)="botonInfo('Nombre del Plan')">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Nombre del plan</ion-label>
    
      <ion-input type="text"
                placeholder="Casa nueva"
                [(ngModel)]="planes[indexAux].nombre"
                name="nombrePlan"
                required>
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only" (click)="botonInfo('Costo')">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Costo</ion-label>
    
      <ion-input type="number"
                placeholder="500000"
                [(ngModel)]="planes[indexAux].cantidadTotal"
                 name="costoPlan"
                 (ionChange)="comprobar($event, planes[indexAux].cantidadTotal, 1)"
                required>
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only" (click)="botonInfo('Tiempo del Plan')">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Tiempo de plan (meses)</ion-label>
    
      <ion-input type="number"
                placeholder="12"
                [(ngModel)]="planes[indexAux].tiempoTotal"
                name="tiempoPlan"
                (ionChange)="comprobarTiempo($event, planes[indexAux].tiempoTotal, 2)"
                required>
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only" (click)="botonInfo('Tiempo del Restante')">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Tiempo de restante (meses)</ion-label>
    
      <ion-input type="number"
                placeholder="12"
                [(ngModel)]="planes[indexAux].tiempoRestante"
                name="tiempoRestante"
                (ionChange)="comprobar($event, planes[indexAux].tiempoRestante, 3)"
                required>
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only" (click)="botonInfo('Descripcion')">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Descripcion</ion-label>
    
      <ion-input type="text"
                placeholder="Casa ubicada en Av. Valdepeñas"
                [(ngModel)]="planes[indexAux].descripcion"
                name="descripcionPlan">
      </ion-input>
      </ion-item>

      <ion-item>

        <ion-buttons slot="start">
        <ion-button slots="icon-only" (click)="botonInfo('Cantidad acumulada')">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-label>Cantidad acumulada</ion-label>
    
      <ion-input type="number"
                placeholder="1000"
                [(ngModel)]="planes[indexAux].cantidadAcumulada"
                name="cantidadAcumulada"
                (ionChange)="comprobar($event, planes[indexAux].cantidadAcumulada, 4)"
                required>
      </ion-input>
      </ion-item>

    <ion-button expand="block"
                color="success"
                (click)="modificarPlanes.calcularYModificar(this.planesOriginales, this.indexAux, this.planes)"
                [disabled]="formulario.invalid || invalido">Modificar plan</ion-button>

  </form>            

</ion-content>
